@font-face {
    font-family: ps2p;
    src: url(fonts/PressStart2P-Regular.ttf);
}

html, body {
    font-family: ps2p;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
}

.game {
    cursor: pointer;
    color: cyan;
    text-align: center;
}